SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/nutritional_db
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
APP_DATA_LOAD=true
APP_DATA_FILE_PATH=src/main/resources/data/통합_식품영양성분DB_음식_20230715.csv
